<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=no">
  <title>Tiny Earth</title>

  <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.2/mapbox-gl.css' rel='stylesheet'/>

  <link rel="stylesheet" type="text/css" href="styles/reset.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>

<% include body %>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="globalData.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
<script src="https://cdn.jsdelivr.net/npm/socketio-file-upload@0.7.0/client.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/106/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="scripts/helperFunctions.js"></script>
<script src="scripts/networking.js"></script>
<script src="scripts/interface.js"></script>

<p id="branch" style="display:none"><%= branch %></p>
<script>
  var branch = document.getElementById('branch').innerHTML;
  var script = document.createElement('script');
  script.src = 'scripts/gameDev_' + branch + '.js';
  document.head.appendChild(script);
</script>

</body>
</html>
